.login-popup{
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.login-popup form{
    background-color: white;
    padding: 2rem 2rem;
    position: relative;
    width: 280px;
    border-radius: 20px;
}
.login-popup-title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.login-popup-title h2{
    text-decoration: underline;
    font-size: 30px;
    color: orangered;
}
.login-popup-title img{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 10px;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
}
.login-popup-input input{
    padding: 10px;
    margin-block: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid darkgray;
}
.login-popup-input input:focus{
    border: 3px solid tomato;
}
.popUp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.popUp button{
    padding: 10px 5px;
    flex: 1;
    outline: none;
    border: none;
    margin-inline: 5px;
    border-radius: 10px;
    cursor: pointer;

}
.forgetPassword{
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 500;
}
.orange{
    background-color: orangered;
    color: white;
}
.white{
    background-color: darkgray;
    color: white;
}

